*.iml
.kotlin
.gradle
**/build/
**/xcode-frameworks/
**/*.xcresult
**/.swiftpm/
server/bin/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
!.idea/runConfigurations/*
/.cursor_rules.yml
