<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyrY7M5xKwKFoqZCLmpGFSWy8Cwef9xtc</string>
	<key>GCM_SENDER_ID</key>
	<string>117850780335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.district37.toastmasters</string>
	<key>PROJECT_ID</key>
	<string>district37-toastmasters</string>
	<key>STORAGE_BUCKET</key>
	<string>district37-toastmasters.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117850780335:ios:3a67b378e49e2234d8da5a</string>
</dict>
</plist>